{%extends 'catalog/home'%}
<div>
<form method="post" class="post-form" enctype="multipart/form-data">
    <div class="form-input-container-1">
      {% for field in form %} {{ field }} {{ field.errors }} {% endfor %}

      <button type="submit">publicar</button>
    </div>
    <div class="form-input-container-2">
      {% csrf_token %} 
      {{ videoform}} 
      {{ imagenform}}
      <button
        type="button"
        class="btn-custom"
        onclick="document.getElementById('imagenButton').click()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          fill="currentColor"
          class="bi bi-file-image"
          viewBox="0 0 16 16"
        >
          <path d="M8.002 5.5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
          <path
            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M3 2a1 1 0 0 1 1-1h8a1 1 0 0 1 1 1v8l-2.083-2.083a.5.5 0 0 0-.76.063L8 11 5.835 9.7a.5.5 0 0 0-.611.076L3 12z"
          />
        </svg>
      </button>
      <button
        type="button"
        class="btn-custom"
        onclick="document.getElementById('videoButton').click()"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="100%"
          height="100%"
          fill="currentColor"
          class="bi bi-file-play-fill"
          viewBox="0 0 16 16"
        >
          <path
            d="M12 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2M6 5.883a.5.5 0 0 1 .757-.429l3.528 2.117a.5.5 0 0 1 0 .858l-3.528 2.117a.5.5 0 0 1-.757-.43V5.884z"
          />
        </svg>
      </button>
    </div>
    <input type="hidden" name="user.id" value="{{ request.user.id }}" />
  </form>
  </div>
{%block all%}