<!DOCTYPE html>
<!-- this templante is the base for the other templantes, -->
<html>
    <head>
        <title>{% block title %}Plantilla Base{% endblock %}</title>
        {% load static %}


        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script src="{% static 'js/plantilla.js'%}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{%static 'css/styles.css'%}">
        <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
        {%block css%}
        {% endblock %}
    </head>


    <body>
    
        <div class="navbar">
            <section class="left-navbar">
                <a href="{% url 'catalog:home' %}">
                    <div class="nav-logo">
                        <p>SM</p>
                    </div>
                </a>

            <div class="nav-links">f
                <a>more</a>
                <a href="{%url 'catalog:home'%}"></a>
            </div>
            </section>

            <section>
                <div class="nav_extensable-button">
                    <button class="toggle-btn">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        
                    </button>

                    <ul class="menu">
                        {%if user.is_authenticated%}
                            
                            <li><button onclick="window.location.href='{%url 'users:logout'%}'">logout</button></li>
                        {%else%}
                            <li><button onclick="window.location.href='{% url 'users:login' %}'">login</button></li>
                            <li><button onclick="window.location.href='{% url 'users:singup' %}'">sing up </button></li>
                        {%endif%}
                        <li><button onclick="window.location.href='{% url 'users:acounts' %}'">profiles</button></li>
                        <div class="boton-tema">
                            <p>Tema: </p>
                            <button id="modo">🌙</button>
                                
                            <script src="{% static 'catalog/js/sidemenu.js' %}"></script>
                        </div> 
                    </ul>
                </div>
            </section>
        </div>

        <div class="cccontainer">

                
            {%block extraContent1%}
            
            {%endblock%}
    
        <div class="ccontainer"> 
        
            {% block content %}

            
            {% endblock %}
        
        </div>

        
            {%block extraContent2%}
            
            {%endblock%}
        
        </div>
    </body>
</html>
