<!DOCTYPE html>
<!-- this templante is the base for the other templantes, -->
<html>
    <head>
        <title>{% block title %}Plantilla Base{% endblock %}</title>
        {% load static %}


        <script src="https://unpkg.com/htmx.org@1.9.4"></script>
        <script src="{% static 'js/plantilla.js'%}"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
        {%block css%}
        {% endblock %}
    </head>


    <body>
    
        <div class="navbar">
            <section class="left-navbar">
                <a href="{% url 'catalog:home' %}">
                    <div class="nav-logo">
                        <p>SM</p>
                    </div>
                </a>

            <div class="nav-links">
                <a href="{%url 'catalog:home'%}"></a>
            </div>
            </section>
            {% include 'catalog/includes/_search_view_post.html' %}
            <section>
                <div class="nav_extensable-button">
                    <button class="toggle-btn">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                        
                    </button>

                    <ul class="menu">
                        {%if user.is_authenticated%}
                            
                
                        {%else%}
                            <li><button onclick="window.location.href='{% url 'users:login' %}'">login</button></li>
                            <li><button onclick="window.location.href='{% url 'users:singup' %}'">sing up </button></li>
                             <div class="boton-tema" style="display: flex; flex-direction: row;">
                                <p>tema: </p>
                                <button id="modo" style="height: 30px; width: 30px;font-size: 15px; border-radius: 50%;">🌙</button>
                                                        
                                <script src="{% static 'catalog/js/sidemenu.js' %}"></script>
                             </div>
                        {%endif%}
                        <li><button onclick="window.location.href='{% url 'users:acounts' %}'">profiles</button></li>
                      
                    </ul>
                </div>
            </section>
        </div>

        <div class="cccontainer">

                
            {%block extraContent1%}
            
            {%endblock%}
    
        
        
            {% block content %}

            
            {% endblock %}
        
        </div>

        
            {%block extraContent2%}
            
            {%endblock%}
        
        </div>
    </body>
</html>
