.user-card {
    
    
    background-color: whitesmoke;
    border: 1px solid #ddd;;
    padding: 2vh 2vw 2vh;
    display: flex;
    flex-direction: row;
    transition: 0.4s all ease-out;
    border-radius: 15px;
    height: 200px;
    width: 100%;
    box-sizing: border-box;
}
.user-card:hover{
   box-shadow: 10px 10px 25px var(--primary-color);
   transition: 0.4s all ease-out;
   scale: 1.1;
   background-color: rgb(221, 216, 216);
}
.user-img-1{   
    display:flex;
    width: 35%;
    height: 45%;
    border-radius: 10px;
    margin-bottom: 10px;
    align-self: center;
    border: 2px solid black;
    margin-right: 20px;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}
.user-img-1 img{
    width: 100%;
    height: auto;
    user-select: none; 
    pointer-events: none;
    object-fit: cover;
}
.user-info{
    display: flex;
    flex-grow: 1;
    flex-direction:column;
    padding: 0;
    user-select: none; 
    pointer-events: none;
}

.ccontainer {
    position:relative;
    display:flex;
    margin-top: 10%;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.div-users{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    width: 40%;

}

.navbar{
    position:fixed;
}
.navbar-sticky{
    z-index: 1;
}