{% extends "plantilla.html" %}

{% block title %}Grupos{% endblock %}
{%load  static%}
{% block css %}

<script src="{% static 'catalog/js/scroll.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'css/styles.css'%}">
<script src="{% static 'user/js/user-button.js'}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'catalog/css/home.css'%}">
<link rel="stylesheet" type="text/css" href="{%static 'grupos/css/categorias.css'%}">
{% endblock %}

{% block content %}

 <div class="carousel-repeat">
        {%for categoria, grupo in grupos.items%}
        <h2> {{categoria}} </h2>
        <div style="position:relative;">
        <div class="carousel">
            <div class="container-3">
                <div class="products-list" id="1">
                {%for x in  grupo%}
                    {% if x.imagen %}
                        <div class="product">
                        
                            <div class="img-container">
                                <a href="#">
                                    <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                                </a>
                            </div>
                        
                            <div class="text">
                                <h4>{{ x.nombre }}</h4>
                                <p>{{ x.descripcion }}</p>
                                <div class="hidden-text">
                                    <p>{{ x.descripcion }}</p>
                                    <p>stock: {{ x.stock}}</p>
                                </div>
                            </div>
                        </div>
                    {% elif  x.imagen_url %}
                        <div class="product">
                                
                                <div class="img-container">
                                    <a href="{%url 'catalog:topic_group' x.id%}">
                                    <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                    </a>
                                </div>
                                
                            
                            <div class="text">
                                <h4>{{ x.nombre }}</h4>
                                <p>{{ x.descripcion }}</p>
                                <div class="hidden-text">
                                    <p>{{ x.descripcion }}</p>
                                    <p>stock: {{ x.stock}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
            <div class="container-3">
                
                <div class="products-list" id="1">
                {%for x in  grupo%}
                    {% if x.imagen %}
                        <div class="product">
                        
                            <div class="img-container">
                                <a href="{%url 'catalog:topic_group' x.id%}">
                                    <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                                </a>
                            </div>
                        
                            <div class="text">
                                <h4>{{ x.nombre }}</h4>
                                <p>{{ x.descripcion }}</p>
                                <div class="hidden-text">
                                    <p>{{ x.descripcion }}</p>
                                    <p>stock: {{ x.stock}}</p>
                                </div>
                            </div>
                        </div>
                    {% elif  x.imagen_url %}
                        <div class="product">
                                
                                <div class="img-container">
                                    <a href="{%url 'catalog:topic_group' x.id%}">
                                    <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                    </a>
                                </div>
                                
                            
                            <div class="text">
                                <h4>{{ x.nombre }}</h4>
                                <p>{{ x.descripcion }}</p>
                                <div class="hidden-text">
                                    <p>{{ x.descripcion }}</p>
                                    <p>stock: {{ x.stock}}</p>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
                </div>
            </div>
        </div>
        </div>
        {%endfor%}
    </div>


    {% endblock %}
</div>    