
{% extends "plantilla.html" %}
{% load static %}

{% block title %}Grupos Catalog{% endblock %}


{%block css%}

<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/search_group.css'%}">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
<script src="{% static 'catalog/js/scroll.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/home.css'%}">
{%endblock%}


{% block content %}
<div class="search-container">
    <div class="search-options">
        <form action="{% url 'catalog:search_view' 1 %}" method ="POST">
            {% csrf_token %}
            <input type="text" name="search" placeholder="search">
            <button type="submit">search</button>
        </form> 
    </div>
</div>

<div class="asidemain">
<div class="searched-group">
    {%for i in grupos%}
    <a href="{%url 'catalog:topic_group' i.id%}">
    <section class="group">
        <div class="group-img">
            <img src="{{i.imagen.url}}">
        </div>

        <div class="group-text"> 

            <h5>
                {{i.score}}
                {{i.nombre}}
                {{i.categoria}}
                {{i.descripcion}}
            </h5></div>

    </section>
    </a>
    
    {%endfor%}
    <div class="change-page">
        {%if page > 1%}
            <form action="{% url 'catalog:search_view' page2 %}" method="POST">
                {% csrf_token %}
                <button type="submit"> < </button>
                
            </form>
        {%endif%}
        <form action="{% url 'catalog:search_view' page1 %}" method="POST">
            {% csrf_token %}
            
            <button  type="submit"> > </button>
        </form>
    </div>
</div>

<aside class="dual-conatiner">
    
    <div>
        <h1>mejores usuarios</h1>
        {%for x in best_users%}
            <div class="perfil-item">
                <p class="perfil-nombre">{{x.username}}</p>
                {% if x.imagen %}
                    <img src="{{x.imagen.url}}" alt="{{x.username}}" class="foto-perfil">
                {% else %}
                    <div class="foto-perfil" style="background-color: #ccc;"></div>
                {% endif %}
            </div>
        {%endfor%}
    </div>
    <div>
        <h1>mejores grupos</h1>
        {%for x in best_groups%}
            <div class="perfil-item">
                <p class="perfil-nombre">{{x.nombre}}</p>
                {% if x.imagen %}
                    <img src="{{x.imagen.url}}" alt="{{x.nombre}}" class="foto-perfil">
                {% else %}
                    <div class="foto-perfil" style="background-color: #ccc;"></div>
                {% endif %}
            </div>
        {%endfor%}
    </div> 

</aside>
<div>
    

{% endblock %}

