
<!-- usualy, the html needs tags like "<html>" "<docttype html>" but in this case is not necesary cause-->
<!-- we extend from plantilla html, that aready have those tags-->
{%extends "plantilla.html" %}

<!-- this  block is only used to change the title from the html-->
{% block title %}Home Catalog{% endblock %}
{% load static %}


<!-- this block is used to load the css, you could add css directly here, but is better to create a new -->
<!-- file in the static folder and link it here.-->


{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/home.css'%}">
<script src="{% static 'catalog/js/scroll.js'%}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
{%endblock%}




<!-- the block content is always to  write the html-->
<!-- notice that html like this dont have the usual-->
<!--  structure of html, that is cause they're extending from "plantilla.html"-->

{% block content %}
<div class="main">
    
    <div class="main-tittle glowborder">
        <h1 class="main-tittle">SHARP MIND</h1>
    </div>
    <div class="main-search">
        <div class="search-bar">
            <form action="{% url 'catalog:search'%}">
                
                <input type="text" placeholder="Search..." name="search">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>
    <div class="mainmain">
        
        <div class="main-background ">
            <section class="main-text-container"> 
                <p class="main-text">
                    habla y comparte con compañeros con los cuales
                    compartes gustos e intereses
                </p>
            </section>
        </div>
        
        <section class="main-background  main-img2">
            <p class="main-text">
                encuentra grupos de estudio, con los cuales puedas compartir tus conocimientos
            </p>
        </section>
        <section class="main-background main-img3">
            <p class="main-text">
                encuentra grupos de estudio, con los cuales puedas compartir tus conocimientos
            </p>
        </section>
    </div>
</div>

<div>
    <h1>titulo</h1>
<div class="flex-grid">
    <section class="bigflex"  style="background-color: var(--primary-color-lighter)">
        <div class="flex-image">
            <img src="{% static 'catalog/img/pexels-pixabay-267569.jpg' %}" alt="Imagen 1">
        </div>
        <section>
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sit qui magnam suscipit velit assumenda? In repudiandae autem nobis commodi temporibus.</p>
        </section>
    </section>

    <section class="shortflex"  style="background-color: var(--primary-color-lighter)">
        <div class="flex-image1">
            <img src="{% static 'catalog/img/pexels-pixabay-267569.jpg' %}" alt="Imagen 1">
        </div>
        <section>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reprehenderit adipisci exercitationem accusamus laudantium provident autem repudiandae corrupti aperiam vel aut quibusdam harum, eos enim, dignissimos nobis! Aperiam deleniti, labore accusantium aliquid velit totam repellat illo quis ex architecto sint quam qui recusandae eum impedit possimus cumque earum quisquam! At, quo?
        </P>
        </section>
        
    </section>

</div>

<div class="flex-grid">
    <section class="shortflex" style="background-color: var(--secondary-color-lighter)">
        <div class="flex-image1">
            <img src="{% static 'catalog/img/pexels-pixabay-267569.jpg' %}" alt="Imagen 1">
        </div>
        <section>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque aperiam tempora quia nulla recusandae unde esse. Reiciendis quidem animi fugiat?</p>
        </section>
    </section>
    <section class="bigflex" style="background-color: var(--secondary-color-lighter)">
    
        <div class="flex-image">
            <img>
        </div>
        <section>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium perspiciatis tempora nulla quis! Mollitia vero voluptatibus praesentium possimus itaque eos provident fugit odio quam. Nisi dignissimos natus distinctio dicta quaerat!    
        </section>
    
    </section>
</div>

</div>
<div class="carousel-repeat">
    {%for categoria, grupo in grupos.items%}
    <h2> {{categoria}} </h2>
    <div style="position:relative;">
    <div class="carousel">
        <div class="container-3">
            <div class="products-list" id="1">
            {%for x in  grupo%}
                {% if x.imagen %}
                    <div class="product">
                    
                        <div class="img-container">
                            <a href="{%url 'catalog:topic_group' x.id%}">
                                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                            </a>
                        </div>
                    
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% elif  x.imagen_url %}
                    <div class="product">
                            
                            <div class="img-container">
                                <a href="{%url 'catalog:topic_group' x.id%}">
                                <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                </a>
                            </div>
                            
                        
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
        <div class="container-3">
            
            <div class="products-list" id="1">
            {%for x in  grupo%}
                {% if x.imagen %}
                    <div class="product">
                    
                        <div class="img-container">
                            <a href="{%url 'catalog:topic_group' x.id%}">
                                <img src="{{ x.imagen.url }}" alt="{{ x.nombre }}" >
                            </a>
                        </div>
                    
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% elif  x.imagen_url %}
                    <div class="product">
                            
                            <div class="img-container">
                                <a href="{%url 'catalog:topic_group' x.id%}">
                                <img src="{{ x.imagen_url }}" alt="{{ x.nombre }}">
                                </a>
                            </div>
                            
                        
                        <div class="text">
                            <h4>{{ x.nombre }}</h4>
                            <p>{{ x.descripcion }}</p>
                            <div class="hidden-text">
                                <p>{{ x.descripcion }}</p>
                                <p>stock: {{ x.stock}}</p>
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
    </div>
    {%endfor%}
</div>


<div class="footer">
    <div class="footer-container">
        <h1>sharp mind</h1>
        <p>alimenta tu mente</p>
        
        <div class="redes-sociales">
        </div>
    </div>

    <div class="footer-container">
        <h1>sobre sharp mind</h1>
        <p>nosotros</p>

    </div>
    
    <div class="footer-container">
        <h1>atencion al cliente</h1>
        <p>whatsap</p>
        <p>telefono</p>
        <p>correo: </p>
        <p>horario:</p>
    </div>
</div>
{%endblock%}