{% extends "plantilla.html" %}

{%load static%}

<!-- this block is used to  load the display-->

{% block css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/productlist.css'%}">
{% endblock %}

{% block content %}
<form method="post" hx-post="{% url 'catalog:ia_response' %}" hx-target="#response" hx-swap="innerHTML">
  {% csrf_token %}
  <input name="input_text" />
  <button type="submit">Ask</button>
</form>

<div id="response">
</div>
{% endblock %}
