
{% extends "plantilla.html" %}
{% load static %}

{% block title %}Grupos Catalog{% endblock %}


{%block css%}
<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/styles.css'%}">
<link rel="stylesheet" type="text/css" href="{% static 'catalog/css/home.css'%}">
<script src="{% static 'catalog/js/scroll.js'%}"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Nabla&display=swap" rel="stylesheet">
{%endblock%}


{% block content %}
<div class="search-container">
    <div class="search options">
        <form action="{% url 'catalog:search' %}" method="GET">
            <input type="text" name="search" placeholder="search">
            
            <button type="submit">search</button>
        </form> 
    </div>
    <div class="searched-group">

    </div>
</div>

<div class="dual-conatiner">
    <div>
        <h1> mejores usuarios</h1>
        {%for x in best_users%}
            
            {% if x.imagen %}
            <img src="{{x.imagen.url}}" alt="{{x.username}}" class="foto-perfil">
            {%endif%}
            <p>{{x.username}}</p>
        {%endfor%}
    </div>
    <div>
        <h1>mejores grupos</h1>
        {%for x in best_groups%}
            {% if x.imagen %}
            <img src="{{x.imagen.url}}" alt="{{x.name}}" class="foto-perfil">
            {%endif%}
            <p>{{x.name}}</p>
            {{x.name}}
        
        {%endfor%}
        
    </div> 
</div>

{% endblock %}
