{% extends "plantilla.html" %}

{% block title %}Plantilla de Usuarios{% endblock %}
{%load  static%}
{% block css %}



<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'users/css/styleEspesific.css' %}">
<script src="{% static 'user/js/user-button.js'}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'catalog/css/home.css'%}">
{% endblock %}

{% block content %}

   
    <div class="div-users">
    {%for i in ingresed_users%}
        {%if not i.is_banned%}
            {%if i.is_active%}

            <div class="user-card" 
            onclick="window.location.href='{% url 'users:login_with_user' %}'">
                <input type="hidden" name="user" value="{{i.user}}">
                <div class="user-img-1">
    
                        <img src="{{i.user.imagen.url}}" alt="" class="userImagen">
                        
                </div>
                <div class="user-info">
                    <p>Usuario: {{i.user.username}}</p>
                    <p>Gmail: {{i.user.gmail}}...</p>
                    <p>estado: {{i.user.estado}}</p>
                    
                    

                </div>  
                <form method="POST" action="{% url 'users:eliminate_user_session' i.user.id%}">
                        {% csrf_token %}
        
                        <button type="submit" class="eliminar">Eliminar</button>
                    
                </form>

            </div>
            {%endif%}
        {%endif%}  
          
    {%endfor%}
    </div>
{% endblock %}
