{%extends "plantilla.html" %}

{% block title %}Home Catalog{% endblock %}
{% load static %}

{% block css %}



<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'users/css/styleEspesific.css' %}">
<script src="{% static 'user/js/user-button.js'}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'catalog/css/home.css'%}">
{% endblock %}

{% block content %}
  <div class="per1">
   
      {%if user.is_authenticated%}
            <img src="{{user.imagen.url}}" alt="" class="userImagen">
                {{user.username}}
                
      {%endif%}
    
  </div> 
    <div class="user-info">
        <p>Gmail: {{user.email}}</p>
        <p>estado: {{i.user.estado}}</p>
              
                    

    </div>  
  
{%endblock%}