{% extends "plantilla.html" %}

{% block title %}register{% endblock %}
{%load  static%}
{% block css %}



<link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'users/css/styles.css' %}">
<link rel="stylesheet" type="text/css" href="{%static 'users/css/styleEspesific.css' %}">

<script src="{%static 'users/js/nav.js'%}"></script>

{% endblock %}

{% block content %}
<form method="post">
    <div class="container-2 animated-input">
    {% csrf_token %}
        <div class="input-group">
        {{form.username}}
        {{form.username.label_tag}}   
        
        </div>
        
        <div class="input-group">
        {{form.email}}
        {{form.email.label_tag}}
        </div>

        <div class="input-group">
        {{form.password1}}
        {{form.password1.label_tag}}
        </div>
        
        <div class="input-group">
        {{form.password2}}
        {{form.password2.label_tag}}
        </div>

        <button type="submit"> register</button>
    </div>
    
    <div class="container-2"> 
        {{form.imagen}}
    </div>
</form>
{% endblock %}